[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
plotly = "*"
graypy = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
